dl {
    margin: 0 0 1.5em 0;
    padding: 0;
}

pre {
    padding: 7px 10px;

}
div.container.cell {
    font-size: 16px;
}

.cell_output {
    color: #80807F;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 80%;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
